body{
    background-color: #232323;
    margin : 0;
    font-family: "Montserrat", "Avenir";
  
  }
  
  .square
  {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
    border-radius: 20%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
  
  }
  
  #container{
    margin: 20px auto;
    max-width: 600px;
    
  }
  
  h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    padding: 20px 0;
  
  }
  
  
  #displayResult{
    color: steelblue;
    font-weight: bold;
    display: inline-block;
    width: 30%;
  
    
  }
  
  #topbar{
    height: 40px;
    background-color: white;
    text-align: center;
    margin: 0;
  }
  
  .selected{
    background-color: steelblue;
    color: white;
  }
  
  #display{
    font-size: 200%;
  }
  
  button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition : all 0.7s;
    outline: none;
  }
  
  button:hover {
    background-color: steelblue;
    color: white;
  }
  
  .score{
    font-size: 200%;
  }